.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-inline-medium);
}

.topRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--padding-inline-small);
}

.mapItem {
    width: 100%;
    height: 20rem;
}

.sectionTitle {
    width: 100%;
    font-size: var(--font-size-large);
    font-weight: bold;
    text-align: center;
    padding-block: var(--padding-block-small);
}

.topItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
    padding-inline: var(--padding-block-medium);
    padding-block: var(--padding-block-medium);
    gap: var(--padding-block-medium);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.bottomItemContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--padding-inline-small);
}

.bottomItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--padding-block-medium);
    padding-inline: var(--padding-block-medium);
    padding-block: var(--padding-block-medium);
    flex-grow: 1;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.itemRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: var(--padding-inline-small);
    cursor: pointer;
    padding-block: var(--padding-block-small);
}

.arrowButton {
    background-color: transparent;
    border: none;
    font-size: var(--font-size-large);
    cursor: pointer;
}

.ratingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--padding-block-small);
}

.graphContainer {
    min-height: 400px;
}

.barGraph {
    width: 100%;
    font-size: var(--font-size-small);
}

.ratingItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 20px;
    width: 100%;
    gap: var(--padding-inline-small);
    text-align: left;
}

.ratingItem .name {
    font-size: var(--font-size-small);
}

.ratingItem .starContainer {
    position: relative;
    display: flex;
}

.star {
    color: rgb(0, 67, 116);
}

.chartContainer {
    display: flex;
    overflow-x: auto;
    width: 100%;
    justify-content: flex-start;
}

.topItemTitleContainer .title {
    font-size: var(--font-size-large);
    font-weight: bold;
}

.topItemTitleContainer .subTitle {
    font-size: var(--font-size-small);
}

.bottomItemTitleContainer .title {
    font-size: var(--font-size-large);
    font-weight: bold;
}

.bottomItemTitleContainer .subTitle {
    font-size: var(--font-size-small);
}

.svgPi {
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
    position: relative;
}

.svgPiTrack {
    stroke: #ddd;
}

.svgPiIndicator {
    stroke: #07c;
    stroke-dasharray: 251.2px;
    /* DashArray = Track's or indicator's Circumference */
    stroke-linecap: square;
}

.svgPiTrack,
.svgPiIndicator {
    cx: 50px;
    cy: 50px;
    r: 40px;
    fill: transparent;
    stroke-width: 10px;
}
/*
progress = 25
arcOffset = arcLength * ((100 - progress)/100) 
          = 251.2 * ((100 - 25)/100) = 188.4
*/
.svgPi25 .svgPiIndicator {
    stroke-dashoffset: 188.4px;
    /* DashOffset = DashArray * ((100 - progress)/100) */
}

.svgPi43 .svgPiIndicator {
    stroke-dashoffset: 143.4px;
    /* DashOffset = DashArray * ((100 - progress)/100) */
}

.svgPi73 .svgPiIndicator {
    stroke-dashoffset: 74.4px;
    /* DashOffset = DashArray * ((100 - progress)/100) */
}

.svgPi77 .svgPiIndicator {
    stroke-dashoffset: 58.08px; /* DashOffset = DashArray * ((100 - progress)/100) */
}

.svgPi85 .svgPiIndicator {
    stroke-dashoffset: 40.6px; /* DashOffset = DashArray * ((100 - progress)/100) */
}

.chartItemContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    min-width: 130px;
    gap: var(--padding-block-small);
}

.circleText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.chartTitle {
    font-size: var(--font-size-small);
}

.filterButtonContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding-inline-small);
    padding-block-start: var(--padding-block-small);
}

.filterButtonActive {
    background-color: rgb(0, 67, 116);
    border: 1px solid rgb(0, 67, 116);
    font-size: var(--font-size-small);
    padding-block: var(--padding-block-small);
    border-radius: var(--border-radius);
    cursor: pointer;
    width: 80px;
    color: white;
}

.filterButtonInactive {
    background-color: transparent;
    border: 1px solid rgb(0, 67, 116);
    font-size: var(--font-size-small);
    padding-block: var(--padding-block-small);
    border-radius: var(--border-radius);
    cursor: pointer;
    width: 80px;
}

.filterButtonInactive:hover {
    background-color: rgb(0, 67, 116);
    color: white;
}

@media screen and (max-width: 545px) {
    .svgPi {
        width: 80px;
        height: 80px;
    }

    .filterButtonContainer {
        justify-content: center;
    }

    .svgPiTrack,
    .svgPiIndicator {
        cx: 40px;
        cy: 40px;
        r: 30px;
        fill: transparent;
        stroke-width: 5px;
    }

    .chartTitle {
        max-width: 15ch;

        overflow: hidden; /* Hide the overflow */
        text-overflow: ellipsis; /* Show ellipsis when text overflows */
        white-space: nowrap;
    }

    .ratingItem {
        flex-direction: column;
        align-items: center;
        gap: var(--padding-block-small);
    }

    .ratingItem .name {
        width: 100%;
        text-align: center;
    }
}
