.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-inline-medium);
    position: relative;
}

.dropdownContainer {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: var(--padding-inline-medium);
    z-index: 11;
}

.dropdownContainer p {
    font-size: var(--font-size-large);
    color: rgb(var(--text-color-rgb));
    font-weight: bold;
}

/* Mobile */
@media (min-width: 700px) {
}
