.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
    height: 100%;
    width: 100%;
    min-height: 400px;
}

.mapContainer {
    height: 100%;
    width: 100%;
}

.dropdownContainer {
    height: 2rem;
    width: 100%;
}
