.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    height: 100vh;
    gap: var(--gap-medium);
    overflow-y: auto;
}

.main section {
    align-self: center;
}

.headerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: var(--gap-small);
    position: relative;
    height: 20rem;
    width: 100%;
}

.headerSection::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.titleContainer {
    display: flex;
    flex-direction: column;
    padding-inline: var(--padding-inline-large);
    padding-block: var(--padding-block-large);
    gap: var(--gap-medium);
    text-align: center;
    z-index: 1;
}

.headerSection h1 {
    z-index: 1;
    font-size: var(--font-size-xlarge);
    color: white;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.headerSection p {
    z-index: 1;
    font-size: var(--font-size-medium);
    color: white;
    font-weight: bold;
}

.mapSection {
    width: 100%;
    margin-block-end: var(--gap-large);
    padding-inline: var(--padding-inline-large);
    max-width: var(--max-width);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
