.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: var(--gap-medium);
    overflow-y: auto;
    padding-inline: var(--padding-inline-large);
    max-width: var(--max-width);
    align-self: center;
    justify-self: center;
}

.headerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: var(--gap-small);
    margin-block-start: var(--gap-large);
}

.mapSection {
    width: 100%;
    max-width: var(--max-width);
    aspect-ratio: 1/1;
    margin-block-end: var(--gap-large);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
